/* PRODUTO */
.produtos-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.produtos-lista h2 {
  margin-top: 5px;
  font-size: 0.725rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.produtos-lista a {
  display: grid;
}

.produto-item a:hover .produto-item_overlay {
  opacity: 1;
}

.produto-info {
  grid-area: 1/1;
}

.produto-item_overlay {
  opacity: 0;
  grid-area: 1/1;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 20px;
  transition: opacity 0.3s;
}

.produto-item_overlay .btn-link {
  margin: auto;
  width: 100%;
}

@media (max-width: 800px) {
  .produtos-lista {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

/* BREADCRUMB */

.breadcrumb {
  margin: 20px auto;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.woocommerce-breadcrumb {
  padding-bottom: 20px !important;
  border-bottom: 2px solid #000;
}

/* ARQUIVO */

.produtos-arquivo {
  display: grid;
  grid-template-columns: 220px 1fr;
}

@media (max-width: 800px) {
  .produtos-arquivo {
    grid-template-columns: 1fr;
  }
}

/* PAGINAÇÃO */

.pagination {
  margin-top: 40px;
}

.pagination .page-numbers {
  border-radius: 2px;
  background: #000;
  color: #fff;
  padding: 4px 10px;
}

.pagination span.page-numbers {
  background: orangered;
}

.pagination .next,
.pagination .prev {
  background: #fff;
  color: #000;
}
